body {
    background-color: #fffaf0;
    font-family: 'Nanum Gothic', sans-serif;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1562620669-98104534c6cd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.card-body {
    background-color: #fdf5e6;
}

.btn-primary {
    background-color: #ff8a65;
    border-color: #ff8a65;
}

.btn-primary:hover {
    background-color: #ff7043;
    border-color: #ff7043;
}

footer {
    background-color: #fdebd0;
}